@import url('https://fonts.googleapis.com/css?family=Montserrat:100,500,700');
header {
  position: relative;
  min-height: 360px;
  background-color: #f5f5f5;
}

.header__text {
  position: absolute;
  left: 50px;
  bottom: 56px;
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  line-height: 72px;
  text-align: left;
  text-transform: capitalize;
}

.contact__content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.contact__content-item {
  max-width: 370px;
  max-height: 370px;
  border: 1px solid #9c9c9c;
  margin: 71px 0 122px 0;
}

.contact__content-item:hover {
  outline: 2px solid #9c9c9c;
}

.content__box {
  text-align: center;
  margin-top: 47px;
  cursor: pointer;
}

.content__box h3 {
  color: #212121;
  font-size: 21.91px;
  font-weight: 700;
  line-height: 18px;
  margin-top: 26px;
  text-transform: uppercase;
}

.content__box h5 {
  display: block;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}

.content__box p {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 12px;
}

.content__box h6 {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 10px;
}
