body {
  background-color: #E4E5E7;
  padding-top: 30px;
}
.aside {
  height: 400px;
}
.main {
  height: 400px;
}
.d-flex {
  display: flex;
}
.task-title {
  font-weight: 400;
  padding-top: 5px;
}
.task-title--done {
  text-decoration: line-through;
  color: #cdcdcd;
}
.gray {
  color: #bdbdbd;
}
.task-item_buttons button {
  margin-right: 5px;
}
.task-item_buttons button:last-child {
  margin-right: 0px;
}
.notify-holder {
  height: 60px;
  margin-bottom: 20px;
}
