@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
@font-face{
font-family: 'Gotham Light Regular';
src: url('fonts/GothamLightRegular.otf');
src: url('fonts/GothamLightRegular.otf.') format('otf');
font-weight: normal;
font-style: normal;
}

header {
  position: relative;
  min-height: 120px;
  background-color: #fff;
}

.showroom__nav {
  width: 100%;
  min-height: 70px;
  background-color: #f4f4f4;
}

.showroom__link {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}


.showroom__link:hover,
.showroom__link:active,
.showroom__link:focus {
  color: #212121;
  text-decoration: none;
  outline: none;
}

.showroom__link .active {
  color: #212121;
  text-decoration: none;
}

.slider-content {
  margin-top: 120px;
  margin-bottom: 245px;
}

.showroom__slider {
  min-height: 600px;
}
.slider-bottom {
  max-width: 240px;
  margin: 0 auto;
}
.slider-img {
  max-width: 70px;
  max-height: 70px;
}

.slider-img:hover {
  background-color: #fff;
  opacity: .3;
  cursor: pointer;
}

.descripton {
  bottom: 0;
}

.descripton__name {
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  margin-bottom: 0;
  text-transform: capitalize;
}

.descripton__header {
  font-weight: 700;
  text-align: center;
  margin: 23px 0 35px 0;
}

.descripton__text-header {
  font-family: 'Gotham Light Regular';
  color: #212121;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
}
.descripton__text-header span {
  font-size: 72px;
}

.descripton__text {
font-size: 16px;
line-height: 24px;
text-align: left;
}

.descripton button {
  font-family: Montserrat;
  width: 510px;
  height: 71px;
  background-color: #f44336;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  -webkit-box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  margin: 30px 0 50px 0;
}
